<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample Html page</title>
</head>
<body>
    <center>
        <h1 style="color:blueviolet">first html page in django project</h1>
        <h1>this is rendered by using render function</h1>
        <h1>rendering is a process of interacting with templatefolder and 
            extracting specified html page to function

        </h1>
    </center>

    
</body>
</html>